@import "./fonts/Rubik/index.css";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	user-select: none;
	cursor: none;
	font-family: Rubik, monospace;
}

*::-webkit-scrollbar {
	width: 5px;
}

body {
	background: #000;
	width: 800px;
}

.container {
	position: relative;
	background: rgb(28, 28, 30);
	width: 780px;
	height: 460px;
	border-radius: 15px;
	margin: 10px;
	padding: 5px;
	overflow: hidden;
}

.widget {
	border-radius: 15px;
	position: absolute;
	padding: 5px;
}

.widget.event {
	background: #e71515;
}

.widget.setting {
	background: #455A64;
}

.widget.music {
	background: #70c21b;
	width: 180px;
	height: 180px;
	transition: all .3s;
	z-index: 1;
	top: 200px;
	right: 10px;
}

.widget.music.fullscreen {
	top: 0;
	right: 0;
	height: 460px;
	width: 820px;
	transition: all .3s;
	z-index: 10;
}


.button.save {
	background: green;
	color: white
}

.button.cancel {
	background: #e71515;
	color: black;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 10px;
}
